[submodule "config/nvim/pack/tpope/start/vim-surround"]
	path = config/nvim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/nvim/pack/tpope/start/vim-vinegar"]
	path = config/nvim/pack/tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
